.pokemon-row{
    display: block;
}

.pokemon-col{
    float: left;
    width: 16%;
}

.btn-center{
    text-align: center;
}

.form-custom{
    width: 50%;
    margin: 0 auto;
}

.myCenter{
    width: 80%;
    margin: 0 auto; 
    padding: 50px 20px;
}

.myCenterA{
    width: 50%;
    margin: 0 auto; 
    padding: 50px 20px;
}

.pokemon-name{
    border: 1px pink solid;
    border-radius: 10px;
    background-color: pink;
    width: 50%;
    text-align: center;
}